@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  color: #444444;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}


::-webkit-scrollbar {
  width: 5px;  
  height: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #f87315;  
  border-radius: 2px;         
  border: 1px solid #f87315;    
  box-shadow: 0 0 10px 5px #f87315; 
}


::-webkit-scrollbar-thumb:hover {
  background-color: #f87315; 
  box-shadow: 0 0 15px 7px #f87315;
}

::-webkit-scrollbar-track {
  background: #000000;         
  border-radius: 2px;          
}


